<mat-toolbar color="primary" class="navbar">
    <div>
        <a routerLink="/">Material Library</a>

    </div>
    <div>
        <span *ngIf="!isAuth">
            <a routerLink="/auth/signup">Créer un compte</a>
        </span>
        <span *ngIf="!isAuth">
            <a routerLink="/auth/signin">Connexion</a>
        </span>
        <span *ngIf="isAuth">
            <a routerLink="/books/new">Ajouter un livre</a>
        </span>
        <span *ngIf="isAuth">
            <a style="cursor: pointer;" (click)="onSignOut()">Déconnexion</a>
        </span>
    </div>
</mat-toolbar>